# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# iOS/Android Native
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/android/.gradle
**/android/app/build/

# Environment Variables
.env
*.env

# IDEs & System
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.DS_Store
*.log